$bg-primary-default:#1F75CB;
$bg-primary-hover:#1068BF;
$bg-primary-active:#0B5CAD;
$bg-primary-disabled:#DCDCDE;
$bg-secondary:#FFFFFF;
$bg-secondary-hover: #ECECEF;
$bg-secondary-active: #DCDCDE;
$border-default: #00000026;
$border-hover: #12131680;
$border-active:#1C1C1C;
$bronze-color: #9E6955;
$error-color: #EE4222;
$font-disabled: #8E8E8E;