@import "@/styles/components/colors.scss";
@mixin rectangular-button{
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin sqare-button{
    cursor: pointer;
    border-radius: 4px;
    transition: .3s;
    border: 1px solid transparent;
    width: 42px;
    height: 42px;
}

.primary-button{
    @include rectangular-button;
    background-color: $bg-primary-default;
    color: #fff;
}
.primary-button:hover{
    background-color: $bg-primary-hover;
}
.primary-button:active{
    background-color: $bg-primary-active;
}

.secondary-button{
    @include rectangular-button;
    border-color: $border-default;
    background-color: $bg-secondary;
    color: $border-active;
}
.secondary-button:hover{
    background-color: $bg-secondary-hover;
    border-color: $border-hover;
}
.secondary-button:active{
    background-color: $bg-secondary-active;
    border-color: $border-active;
}

.small-button-primary{
    @include sqare-button;
    background-color: $bg-primary-default;
    color: #fff;
}
.small-button-primary:hover{
    background-color: $bg-primary-hover;
}
.small-button-primary:active{
    background-color: $bg-primary-active;
}

.small-button-secondary{
    @include sqare-button;
    border-color: $border-default;
    background-color: $bg-secondary;
    color: $border-active;
}

.small-button-secondary:hover{
    background-color: $bg-secondary-hover;
    border-color: $border-hover;
}
.small-button-secondary:active{
    background-color: $bg-secondary-active;
    border-color: $border-active;
}
.button-icon{
}




