.task__item {
    margin: 24px;
    min-width: 1024px;
    border-bottom: 1px solid #1C1C1C;
    padding: 0px 16px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}
.task__item:hover .task__item-btn{
    display: block;
}
.task__item-wrapper{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 16px;
    flex-grow: 2;
}
.task__item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task__item-title {
    margin-right: 16px;
}
.task__item-avatar {
    border-radius: 50%;
}
.task__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task__item-about {
    display: flex;
}
.task__item-id {
    margin-right: 16px;
}
.task__item-created {
    margin-right: 16px;
    color: $font-disabled;
}
.task__item-status {
    color: #fff;
    padding: 0 8px;
    border-radius: 4px;
}
.item-status-draft{
    background-color: $bronze-color;
}
.item-status-completed {
    background-color: $bg-primary-default;
}
.item-status-deleted {
    background-color: $error-color;
}
.item-status-disabled{
    background-color: $font-disabled;
}
.task__item-content-edited {
    color: $font-disabled;
}
.task__item-btn{
    display: none;
    svg{
        height: 24px;
        width: 24px;
    }
}

.task__drop-down-menu{
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 15px;
    top: 53px;
    z-index: 1;
}
.task__drop-down-text + .task__drop-down-text{
    margin-top: 16px;
    color: $error-color;
}
.task-button-active{
    background-color: $bg-secondary-active;
    border-color:$border-active;
    display: block;
}